
.main{
    padding: 3% 14%;
    background-image: url('../image/backBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes loadEffect {
    from{
        top:-200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.innerMain{
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 0;
    opacity: 0;
    animation: loadEffect 1s ease-out 1 normal forwards;
}


.formBox{
    transition: all 0.5s;
    left: 0;
    width: 200%;
}

.form {
    width: 515px;
    background: linear-gradient(45deg, transparent, #ffffff3b 29%, transparent);
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

label{
    font-size: 0.9em !important;
    color: white;
}

input,select{
    font-size: 0.8em !important;
}

.guide{
    cursor: pointer;
    font-size: 0.8em;
}

.imgBox {
    width: 415px;
    background-image: url('../image/sideImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgBox::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    backdrop-filter:brightness(0.5);
}

.logSign{
    border: 1px solid rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    border-radius: 39px;
    cursor: pointer;
    width: 300px;
    height: 50px;
}

.logSign:after{
    content: "Already a User? Login";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


#checkbox:checked~.formBox{
    left:-515px;
}

#checkbox:checked~.formBox .logSign::after{
    content: "Create Free Account";
}

.arrow{
    width: 9px;
    border-radius: 63px;
    right: 55px;
}

#checkbox:checked~.formBox .logSign .arrow{
    left:60px;
    transform: rotateY(180deg) translate(-50%, -54%) !important;
}